.itemlist {
  border-bottom: 1px solid rgb(182, 170, 170);
  margin: 13px 0px;
  /* height: 150px; */
}
.itemdetail {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}
.itemname {
  display: flex;
  flex-direction: column;
  color: #51535e;
  font-weight: 700;
}
.itemname > .ico {
  color: green;
  margin-top: 2px;
  margin-right: 5px;
}
.itemname > .ico > span {
  color: #ee9c00;
  margin: 0px 0px 0px 13px;
}
.itemname > .ico > span > .bic {
  margin-right: 3px;
}
.itemlist p {
  padding: 8px 0px 8px 0px;
  font-weight: lighter;
}
.imgbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.img-logo {
  width: 100px;
  height: 80px;
  border-radius: 5px;
}
.itemimg {
  height: 100px;
  position: relative;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 244, 230);
  border-radius: 10px;
}
.itemimg1 {
  position: relative;
  height: 100px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  bottom: 50%;
}
.add {
  position: absolute;
  border: 0;
  outline: 0;
  top: 80%;
  box-shadow: 2px 2px gray;
  background-color: white;
  border: 1px solid rgb(206, 202, 202);
  color: green;
  height: 35px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 60%;
}
